{% extends "./base.html" %}
{% load static %}
{% block title %}{{event.name}}{% endblock %}
{% block content %}

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
            <img src="{{event.banner.url}}" style="max-width: 30vw;">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="h1 fw-bold">{{event.name}}</h1>
                <p class="lead text-muted">{{event.description}}</p>
            </div>
        </div>  
        </div>
    </section>
</main>

{% endblock %}